@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Movie Tickets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Home.css"> 
</head>
<body>
   
    <!-- Welcome Section -->
    <div class="welcome-box">
        <h1>Welcome to Movie Magic 🎬</h1>
        <p>Book your favorite movies easily and enjoy the show!</p>
        <a  href="/Identity/Account/Register"   class="btn btn-custom">Start Booking</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
